.novoPainel a{
    color:#FFF;
    text-decoration:none;
}

.novoPainel {
    float: right;
    margin-right: 10px;
}
.tituloPainel {
    float: left;
}

.btn-cmd a {
    color: #fff;
    text-decoration: none;
}
