
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="widget-box">
            <div class="widget-header header-color-blue">
                <h4>Usuário</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="prontuario">
                                        Titulo
                                    </label>
                                    <div class="controls">
                                        <input id="titulo" name="titulo" type="text" class=" form-control" maxlength="10" required="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="nome">
                                        Login
                                    </label>
                                    <div class="controls">
                                        <input id="nome" name="nome" type="text" class=" form-control" maxlength="60" required="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="nome">
                                        Senha
                                    </label>
                                    <div class="controls">
                                        <input id="nome" name="nome" type="text" class=" form-control" maxlength="60" required="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="nome">
                                        Grupo
                                    </label>
                                    <div class="controls">
                                        <select class=" form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-actions center" style="margin-top:10px;margin-bottom:0px">
                                    <button type="button" class="btn btn-sm btn-success">
                                        Submit
                                        <i class="icon-arrow-right icon-on-right bigger-110"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div>